
*.h-1DGX5P1VQA000
DerivedData/HWS-WordScramble/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-fec2d25ecbbd6b776147c5df8756c4fe
DerivedData
DerivedData/HWS-WordScramble/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-fec2d25ecbbd6b776147c5df8756c4fe
*.mdb
DerivedData/HWS-WordScramble/Logs/Update Signing/LogStoreManifest.plist
